@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;outline:none;font-family: 'Oxygen Mono', monospace;font-weight: 500;user-select: none;} 
*::selection{background-color: #565656;color: #fff;}
html{scroll-behavior: smooth;}
a{text-decoration: none !important;}
*, *:before, *:after {box-sizing: inherit;}
body{
    overflow: hidden;
    position: fixed;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}
.form{
    flex-direction: column;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.8s ease-in ;
    max-width: 300px;
    width: 80%;
    background-color:rgb(240, 240, 240);
    padding: 12px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(146, 146, 146);
}
#time-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    gap: 10px;
}
#time-wrapper input{
    grid-column: 2/3;
    border-radius: 8px;
    max-width: 80%;
    border: 1px solid rgb(70, 70, 70);
    margin: 0px auto;
}
#time-wrapper label{
    grid-column: 1/2;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px auto;
}
#time-wrapper label::before{
    content: url(files/arrow.svg);
    margin-right: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    background-color: #565656;
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-style: none;
    padding: 8px;
    border-radius: 10px;
    margin: 0px auto;
    font-weight: 200;
    cursor: pointer;
    margin: 4px auto;
}
#tiempo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 6px #5f5f5f;
}
#alert{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
#check{
    appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 4px;
    margin-top: 3px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgb(58, 58, 58);
    position: relative;
    font-weight: 900;
}
#check:checked{
    background-color: #808080;
    border: 1px solid #5c5c5c;
}
#check::after{
    content: '*';
    text-align: center;
    color:#ffffff;
    position: absolute;
    left: 3px;
    top: -1px;
}
h1{
    color: rgb(210, 210, 210);
    letter-spacing: 2px;
    display: flex;
    white-space: nowrap;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    text-shadow: 3px 3px 6px #000000;
}
h2{
    color: #808080;
    font-size: 1em;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size 0.4s ease-in, color 0.4s ease-out;
}
h2:hover{
    color: #fff;
    font-size: 1.15em;
    transition: font-size 0.2s ease-in, color 0.2s ease-out;
}

@media (max-width: 320px){
    .form{
        gap: 10px;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        width: 80%;
        padding: 8px;
        padding-top: 20px;
    }
    #time-wrapper{
        display: flex;
        justify-content: center;
        margin: 0px auto;
        gap: 0px;
        max-width: 80%;
    }
    #time-wrapper input{
        border-radius: 8px;
        max-width: 30%;
        border: 1px solid rgb(70, 70, 70);
        margin: 0px auto;
    }
    #time-wrapper label{
        font-size: 0.9em;
        font-weight: 500;
        margin: 0px;
    }
    #time-wrapper label::before{
        gap: 2px;
        content:'';
        margin:0px;
    }
    .btn{
        display: flex;
        justify-content: center;
        grid-column: 1 / 3;
        background-color: #565656;
        color: white;
        font-size: 0.8em;
        text-decoration: none;
        border-style: none;
        margin: 0px auto;
        font-weight: 400;
        cursor: pointer;
        margin: 2px auto;
    }
    #tiempo{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        text-shadow: 3px 3px 6px #5f5f5f;
    }
    #alert{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 0.8em;
        gap: 10px;
        white-space: nowrap;
    }
    h1{
        font-size: 1em;
        letter-spacing: 1px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h2{
        font-size: 0.54em;
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h2:hover{
        font-size: 0.6em;
    }
}
@media (max-width: 420px){
    .form{
        gap: 10px;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    #time-wrapper{
        max-width: 80%;
    }
    #time-wrapper input{
        max-width: 50%;
    }
    #time-wrapper label{
        font-size: 1.1em;
        margin-bottom: 2px;
    }
    #time-wrapper label::before{
        content: url(files/arrow.svg);
        margin-right: 0px;
        position: absolute;
        left: 20px;
    }
    .btn{
        display: flex;
        justify-content: center;
        grid-column: 1 / 3;
        background-color: #565656;
        color: white;
        font-size: 0.9em;
        text-decoration: none;
        border-style: none;
        margin: 0px auto;
        font-weight: 400;
        cursor: pointer;
        margin: 2px auto;
    }
    #tiempo{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        text-shadow: 3px 3px 6px #5f5f5f;
    }
    h1{
        font-size: 1.5em;
        letter-spacing: 2px;
        top: 28%;
    }
    h2{
        font-size: 0.7em;
        top: 97%;
        left: 50%;
    }
    h2:hover{
        font-size: 0.8em;
    }
}
@media (max-height: 540px){
    h1{
        font-size: 1.5em;
        letter-spacing: 2px;
        top: 15%;
    }
}